.dfw {
  display: inline-block;
  width: 100%;
}
.fw {
  float: left;
  width: 100%;
}
.p0 {
  padding: 0;
}
.m0 {
  margin: 0;
}
.center {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none;
  display: block;
}
