a,
a:hover,
a:focus,
button,
button:hover,
button:focus {
  outline: 0;
}
body {
  overflow-x: hidden;
}
.navbar {
  background: #563b7e;
  margin-bottom: 0;
  border-radius: 0;
  z-index: 999;
}
.navbar h1 {
  color: #fff;
  margin: 15px 0;
  text-transform: capitalize;
}
footer {
  display: inline-block;
  width: 100%;
  margin: 0;
  background: #563b7e;
  float: left;
  padding: 15px 0;
}
footer p {
  color: #fff;
  margin: 0;
  text-transform: capitalize;
}
footer i {
  margin-right: 5px;
}
footer a {
  color: #fff;
  font-style: italic;
  text-transform: capitalize;
  font-weight: bold;
}
footer a:hover {
  color: #fff;
}
footer .copyright {
  text-align: left;
}
footer .designed {
  text-align: right;
}
/*buttons*/
.col-xs-3 {
  text-align: center;
  margin-bottom: 30px;
}
.btn {
  padding: 10px 30px;
  width: 100%;
  height: 60px;
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  background: #563b7e;
}
