@maxl: ~"(max-width: 1199px)";
@maxm: ~"(max-width: 991px)";
@maxs: ~"(max-width: 767px)";
@maxxs: ~"(max-width: 600px)";
@maxss: ~"(max-width: 400px)";
@minl: ~"(min-width: 1200px)";
@minm: ~"(min-width: 992px)";
@mins: ~"(min-width: 768px)";
@minxs: ~"(min-width: 600px)";
@minss: ~"(min-width: 400px)";

@c: #563b7e;
@c2: #9B1321;
@cr: rgba(86, 59, 126, 0.5);
.di (@width){
	display: inline-block;
	width: @width;
}

.dfw{
	display: inline-block;
	width: 100%;
}
.fw{
	float: left;
	width: 100%;
}

.col (@width, @col){
	width:(@width/@col)*1%;
	float:left;
	padding:0 15px;
}
.cols (@cols){
	width:(100/@cols)*1%;
	float:left;
	padding:0 15px;
}
.border (@width, @color, @radius) {
	border: @width solid @color;
	border-radius: @radius;
}

.transition(@trans, @ease) {
    -webkit-transition: @trans @ease;
    -moz-transition:  @trans @ease;
    -o-transition:  @trans @ease;
    transition:  @trans @ease;
}
.p0{
	padding: 0;
}
.m0{
	margin: 0;
}
.center{
	margin-left:auto !important;
	margin-right: auto !important;
	float: none;
	display: block;
}
.bg(@url){
	background: url("../img/@{url}") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.sh(@margin, @padding){
.section-heading{
    .dfw;
    h1,h2,h3,h4,h5{
        padding:@padding;
        color: @c;
        text-align: center;
        width: auto;
        margin: 0;
        float: left;
    }
    .h-line.right-line{
        float: right;
    }
    .h-line{
        height: 1px;
        margin-top: @margin;
        float: left;
        width: auto;
        background: @cline;
    }
}
}

.circle(@size){
    border-radius: 50%;
    height: @size;
    width: @size;
}