@import (reference) "function";


@media @mins {
	.navbar-nav > li.dropdown >.dropdown-hover:after{
    content: '';
}
li.dropdown .dropdown-hover{
    position: relative;
}
li.dropdown .dropdown-hover:after{
    font-family: FontAwesome;
    content: '\f107';
    position: absolute;
    right: 10px;
}
	.dropdown:hover > .dropdown-menu {
    display: block;
}
  .dropdown > .dropdown-menu.submenu{
    left: 100%;
    top:0;
    margin:0;
    border:0;
  }
.dropdown a.dropdown-toggle{
	display: none;
}
.event .col-sm-3{
	padding-left: 0;
}
.navbar-nav>li {
	display:inline-block;
	float: none;
}
.navbar-nav {
	text-align: center;
	float: none;
}

}



@media @maxs {
	.dropdown-menu a.dropdown-toggle i{
		font-size: 35px;
		padding: 0;
	}
		.navbar-nav>li>a{
		font-size: 25px;
		padding-top: 15px;
		padding-bottom: 15px;
		line-height: normal;
	}
	.dropdown-menu>li>a{
		clear: none;
		line-height: normal;
	}
	.dropdown-menu a.dropdown-hover{
		width: 80%;
		float: left;
		display: inline-block;
	}
	.navbar-nav .open .dropdown-menu>li>a.dropdown-toggle{
		padding: 5px;
	}
	.navbar-nav .open .dropdown-menu>li>a{
		line-height: normal;
		font-size: 19px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-family: 'bebas';
		font-weight: bold;
		text-transform: uppercase;
	}
	.dropdown-menu a.dropdown-toggle{
		width: 20%;
		display: inline-block;
		float: right;
	}
	.navbar-nav{
		margin: 0 -15px;
	}
	.navbar-toggle{
		margin-right: 10px;
	}
	.navbar-nav .open > .dropdown-menu{
		width: 100%;
		background: #eee;
		padding: 10px 15px;
		display: inline-block;
	}
	.navbar-nav .open{
		background: #eee;
	}
	.navbar-nav>li:hover,
	.navbar-nav>li:focus {
		background: #eee;
	}
	.nav>li .dropdown-toggle{
		padding: 0;
		text-align: right;
	}
	.nav>li .dropdown-toggle:focus,
	.nav>li .dropdown-toggle:hover,
	.nav>li .dropdown-hover:focus,
	.nav>li .dropdown-hover:hover{
		background: none;
	}
	.nav > li:focus > a, .nav > li:hover > a{
		background: none;
	}
	.dropdown-toggle i{
	    font-size: 40px;
    	padding: 11px;
    	padding-right: 15px;
	}
	.nav.navbar-nav>li{
		border:0;
		float: left;
		width: 100%;
	}
	.nav.navbar-nav>li:hover{
		border:0;
	}
	.dropdown-toggle{
		width: 20%;
		float:left;
	}
	.dropdown-hover{
		width: 80%;
		float: left;
	}
}

